<link rel="stylesheet" href="header.css" />
<header>
  <div class="header__side-menu">
    <div class="header__side-menu--toggle">
      <span class="header__side-menu--toggle-inner">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
  </div>
  <div class="header__logo">
    <img
      alt="logo"
      src="../../../assets/images/logo.svg"
      class="header__logo-img"
    />
    <span class="header__logo-name">Khairy</span>
  </div>
  <div class="header__nav-bar">
    <ul class="header__nav-bar-list">
      <li class="header__nav-bar-list-item">Home</li>
      <li class="header__nav-bar-list-item">Blog</li>
      <li class="header__nav-bar-list-item">Gallery</li>
      <li class="header__nav-bar-list-item">Contact Us</li>
    </ul>
  </div>
  <button class="header__btn">
    Donate Now
    <i
      class="icon elementor-icon flaticon flaticon-heart"
      aria-hidden="true"
    ></i>
  </button>
</header>

<div class="bg-purple">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <div
      style="
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      WE HELP PEOPLE AROUND
    </div>
    <div style="font-weight: bold; font-size: 3rem">
      Your Donation Can Change the World
    </div>
    <div>
      Khairy is the largest global crowdfunding community connecting nonprofits,
      donors, and companies in nearly every country.
    </div>
  </div>

  <!-- <img alt="panel" src="../../../assets/images/girl.png" style="float: right; height: 20rem;"> -->
</div>
