body {
  margin: 0px;
  font-family: Optima, sans-serif;
  background-color: #f3f1ec;
}
html,
body {
  overflow-x: hidden;
}
/* **************** header ************  */
header {
  background-color: #f3f1ec; /*rgba(172, 223, 220, 0.5);  #c4e2dd;*/
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
header .header__side-menu {
  border-radius: 0.6rem;
  color: #ffffff;
  background: #c9004f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  direction: ltr;
  width: 3.5rem;
}

.header__side-menu--toggle-inner {
  display: flex;
  flex-wrap: wrap;
  width: 1.1rem;
  align-content: space-around;
  height: 1.1rem;
  align-items: center;
  justify-content: space-around;
}
.header__side-menu--toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  cursor: pointer;
}
.header__side-menu--toggle:hover {
  transform: rotate(-90deg);
  transition: all 0.4s;
}
.header__side-menu--toggle-inner span {
  /* position: absolute; */
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  color: #c9004f;
  vertical-align: top;
  background: whitesmoke;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  margin: 0px 1rem;
}
.header__logo-img {
  height: 2.6rem;
}
.header__logo-name {
  font-family: Snell Roundhand, cursive;
  font-size: 30px;
  color: #70387c;
  font-weight: bold;
}
.header__nav-bar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(104, 100, 100);
}
.header__nav-bar {
  flex-grow: 1;
}
.header__burger-menu {
  display: none;
}
.header__side-list {
  display: none;
}
.header__side-list-container {
  display: none;
}
.header__btn {
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: #333 solid 0.2rem;
}
.header__btn:hover {
  color: #f3f1ec;
  background-color: #333;
  border: #f3f1ec solid 0.2rem;
}
@media screen and (max-width: 1196px) {
  header {
    background: rgb(41, 40, 40);
  }
  .header__nav-bar {
    display: none;
  }
  .header__logo-name {
    color: rgb(189, 150, 240);
  }
  .header__logo > img {
    background-color: #fff;
    border-radius: 50%;
  }
  header .header__side-menu {
    display: none;
  }
  .header__burger-menu {
    display: block;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 20px;
    height: 3px;
    background-color: whitesmoke;
    margin: 6px 0;
    /* transition: 0.4s; */
  }
  .header__burger-menu:hover {
    display: none;
  }

  .header__side-list-container {
    display: block;
    height: 100vmax;
    width: 50vmax;
    background-color: aqua;
    z-index: 2;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .header__menu-box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .header__menu-box--item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .header__menu-box--item:hover {
    background-color: #cfd8dc;
    color: #70387c;
  }

  .header__side-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: blue;
  }
}

/* **************** end of header ************  */

/* **************** first container ************  */
.first-container-wrapper {
  display: flex;
  justify-content: center;
}
.first-container {
  color: #fff;
  height: 30rem;
  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: 
    /* linear-gradient(110deg, #70387c 40%, rgba(236, 9, 9, 0) 30%), */ linear-gradient(
    110deg,
    #70387c 50%,
    rgb(138 9 236 / 18%) 30%
  );
  /* radial-gradient(
        farthest-corner at 10% 0%,
        #c097c9 71%,
        #8c6e93 70% 
        
      ), */
  /* url("../../assets/images/10499.jpg"); */

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3rem;
  width: 90%;
  /* linear-gradient(110deg, #c08fd8 40%, rgba(236, 9, 9, 0) 30%), */
  /* radial-gradient( [ <ending-shape> || <size> ]? [ at <position> ]? , <color-stop-list> )  */
}

.first-container__img {
  /* animation: up-and-down 5s linear infinite; */
  height: 31rem;
  width: 31rem;
  /* background: url("../../assets/images/woman.png"); */
  background: url(../../assets/images/heart-rate.png);
  /* background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-clip: content-box;
  /* float: right; */
  margin-right: 5rem;
  animation-timing-function: ease-in-out;
  animation: firstContainerMove 5s infinite;
  position: relative;
}
@keyframes firstContainerMove {
  from {
    bottom: 0px;
  }
  to {
    bottom: 30px;
  }
}

.first-container__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40%;
  padding: 3rem;
}
.first-container__text-1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: fantasy;
  font-size: 1.5rem;
}
.first-container__text-2 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Gill Sans, sans-serif;
}
.first-container__text-3 {
  font-family: Optima, sans-serif;
  margin: 1rem 0rem;
}

.first-container__btn-1,
.first-container__btn-2 {
  padding: 1rem 2rem;
  border-radius: 3rem;
}
.first-container__btn-1 {
  border: #70387c solid 0.2rem;
}
.first-container__btn-1:hover,
.first-container__btn-2 {
  background-color: #70387c;
  color: #cfd8dc;
  border: #cfd8dc solid 0.2rem;
}
/* .first-container__btn-2 {
  background-color: #70387c;
  color: #cfd8dc;
} */
.first-container__btn-2:hover {
  background-color: #cfd8dc;
  color: #333;
  border: #70387c solid 0.2rem;
}
@media screen and (max-width: 1196px) {
  .first-container {
    background: #70387c;
    flex-direction: column;
    height: fit-content;
  }
  .first-container__img {
    height: 15rem;
    width: 20rem;
    background: url(../../assets/images/heart-rate.png);
    /*url(../../assets/images/business-report.png);*/
    background-size: cover;
    margin: 0px;
  }
  .first-container__text {
    max-width: 100%;
  }
}
/* **************** end of first container ************  */

/************************ second cont*****************/

.about-us__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 7rem;
  background-color: #f3f1ec;
}
.about-us__img > img {
  height: 22rem;
  max-width: 80vmax;
}
.about-us__text {
  max-width: 50%;
}
.about-us__text--heading {
  text-transform: uppercase;
  /* letter-spacing: 0.05em; */
  font-family: fantasy;
  color: #c9004f;
  font-size: larger;
  padding: 0rem;
}
.about-us__text--sub-title {
  font-size: 1.6rem;
}
.about-us__text--content-1 {
  padding-bottom: 1rem;
}
@media screen and (max-width: 1196px) {
  .about-us__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .about-us__text {
    max-width: 80%;
    padding: 2rem;
  }
  .about-us__img > img {
    /* height: 20vmax; */
    max-width: 60vmax;
  }
}
.about-us__text--content-2-1,
.about-us__text--content-2-2 {
  font-size: 1.1rem;
  font-weight: bold;
}
.fa-check {
  color: #c9004f;
}
/* ******************************* */
.main-cover {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.main-cover-img {
  border-radius: 3rem;
  background-image: url(../../assets/images/2012.i511.027_ramadan_charity_flat.jpg);
  background-size: cover;
  height: 40vmax;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  margin: 1rem 0px;
}

/* ******************************* */
/********************  donate now cont   ***********************/
.donate-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.donate-container__text {
  width: 90%;
  margin-bottom: 2rem;
}
.donate-container__img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}
.donate-container__img > div > img {
  height: 7rem;
  border: #70387c 5px solid;
  border-radius: 50%;
  /* clip-path: path(
    "M15,45 A30,30,0,0,1,75,45 A30,30,0,0,1,135,45 Q135,90,75,130 Q15,90,15,45 Z"
  ); */
}
.donate-container__img > div {
  border-radius: 50%;
  box-shadow: 0px 0px 10px #333;
}
.donate-container__img > div:hover {
  transform: scaleY(1.5) scaleX(1.5); /* translateY(-50px) rotate(20deg); */
  box-shadow: 0px 0px 24px #c33fdd;
  cursor: pointer;
}

.donate-clothes {
  clip-path: circle(50%);
}
.donate-container__text--btn {
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: #333 solid 0.2rem;
}
.donate-container__text--btn:hover {
  color: #f3f1ec;
  background-color: #333;
  border: #f3f1ec solid 0.2rem;
}
.donate-container__text--title {
  text-transform: uppercase;
  font-family: fantasy;
  color: #c9004f;
  font-size: larger;
  padding: 0rem;
}
.donate-container__text--heading {
  font-weight: bold;
  font-size: 1.6rem;
}
@media screen and (max-width: 1196px) {
  .donate-container__img {
    flex-wrap: wrap;
  }
  .donate-container__img > div > img {
    height: 5rem;
  }
}

/********************  end of donate now cont  ***********************/

/*********************** gallery ***********************************/
.gallery-container.swiper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(
    rgba(224, 218, 218, 0.5),
    rgba(224, 218, 218, 0.5)
  );
  /* url(../../assets/images/28525scr.webp); */
  background-size: cover;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem 0rem;
  border-radius: 3rem;
  justify-content: space-between;
}

.gallery-container__cards-list.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
.gallery-container__title {
  text-transform: uppercase;
  font-family: fantasy;
  color: #c9004f;
  font-size: larger;
  padding: 0rem;
  margin-bottom: 1rem;
}
.gallery-container__card.swiper-slide {
  box-shadow: 4px 4px 10px 3px gray;
  border-radius: 1rem;
  height: 20vmax;
  width: 20vmax;
  max-width: 30%;
  background-color: #cfd8dc;
  margin: 1rem;

  /* padding: 1rem; */
}
/* .gallery-container__card--img > img:hover {
  transform: scale(1.5);
  rotate: 20deg;
} */

.gallery-container__card--img > img {
  /* margin: 1rem auto; */
  border-radius: 1rem; /* 2rem 2rem 0rem 0rem; */
  width: 100%;
  height: 100%;
  border: 0.5rem solid #cfd8dc;
}
.gallery-container__card--text {
  /* width: 30%;
  max-width: 20vmax; */
  /* min-width: 40%; */
  max-width: 100%;
  padding: 1rem;
}
@media screen and (max-width: 670px) {
  .gallery-container__card.swiper-slide {
    max-width: 90%;
    height: 40vmax;
    width: 40vmax;
  }
  .gallery-container__cards-list {
    flex-direction: column;
    width: 100%;
  }
}

/*********************** end of gallery *********************************/

/************************************* our newsletter **************************************/
.our-newsletter__container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.our-newsletter__text {
  width: 50%;
  text-align: left;
}
.our-newsletter__text--title {
  text-transform: uppercase;
  font-family: fantasy;
  color: #c9004f;
  font-size: larger;
  padding: 0rem;
  margin-bottom: 1rem;
}
.our-newsletter__text--heading {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.our-newsletter__text--body {
  margin-bottom: 1rem;
}
.our-newsletter__img > img {
  height: 18rem;
}
.our-newsletter__form {
  position: relative;
}
.our-newsletter__form--button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: #c9004f;
  color: #eceff1;
  border: none;
  left: 275px;
  position: absolute;
}
.our-newsletter__form--input {
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  width: 20rem;
  outline: none;
}
@media screen and (max-width: 1196px) {
  .our-newsletter__container {
    flex-direction: column;
  }
  .our-newsletter__text {
    width: 100%;
    margin-bottom: 3rem;
  }
  .our-newsletter__form--button {
    left: 197px;
  }
}
/************************************** end of our newsletter **************************************/

/************************************** footer **************************************/

.footer__container {
  background-color: #70387c;
  height: max-content;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0px;
}
.footer__img > img {
  height: 25rem;
}
.footer__text--logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  margin: 0px 1rem;
}
.footer__text {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  color: #cfd8dc;
}
.footer__text--logo-img {
  height: 2.6rem;
}
.footer__text--logo-name {
  font-family: Snell Roundhand, cursive;
  font-size: 30px;
  color: #3e0a4a;
  font-weight: bold;
  text-shadow: 5px 5px 23px #f9fafb;
}
.footer__text-1,
.footer__text-2 {
  display: flex;
  flex-direction: column;
}
.footer__text-2 {
  width: 30%;
}
.footer__text-1--list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer__text-1--title,
.footer__text-2--title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.footer__text-2--body {
  margin-bottom: 1rem;
}
.footer__text-2--button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: #cfd8dc;
  color: #70387c;
  border: #cfd8dc 1px solid;
  width: 9rem;
}
.footer__text-2--button:hover {
  background-color: #70387c;
  color: #cfd8dc;
}
.fa-facebook,
.fa-twitter,
.fa-instagram {
  /* background-color: #3e0a4a; */
  color: #eceff1;
  /* border-radius: 50%;
  border: 1px solid #cfd8dc;
  padding: 0.5rem 1rem; */
}
.footer__text-1--social-media-icons {
  margin-top: 2rem;
}
.facebook,
.twitter,
.instagram {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #70387c;
  color: #eceff1;
  border-radius: 50%;
  padding: 0.7rem;
  border: 1px solid #cfd8dc;
  cursor: pointer;
}
.facebook {
  padding: 0.7rem 0.9rem;
}
.facebook:hover,
.twitter:hover,
.instagram:hover {
  background-color: #cfd8dc;
  color: #70387c;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram :hover {
  color: #70387c;
}
@media screen and (max-width: 1196px) {
  .footer__text {
    flex-direction: column;
  }
  .footer__text--logo {
    justify-content: flex-start;
    margin: 1rem 0px;
  }
  .footer__text-2 {
    width: 100%;
  }
  .footer__text-1 {
    margin-bottom: 1rem;
  }
}
/************************************** end of footer **************************************/
